<div id="composite-container">
  <label for="score1" id="scoreLabel" class="oj-label-inline">Attempts:</label>   
  <input id="score1" data-bind="ojComponent: {
    component: 'ojInputNumber', readOnly: true, 
    value: attempts}"/>
  <demo-memory-game id="game1" cards="{{chartImages}}"></demo-memory-game>
  <div style="display:none;" id="popup1"
       data-bind="ojComponent:{component: 'ojPopup', position: {'at': 'center center', 'my': 'center center'}}">
    <span class="blink-rainbow">You've won!</span>
  </div>
</div>