<h3 class="oj-header-border">Date Components</h3>
<hr>
<p><b>Example 1</b>: Default HTML5 date input element.</p>
    <input type="date"/>
<hr>
<p><b>Example 2</b>: ojInputDate with default converter.</p>
    <input type="text" 
        title="Pick a date"
        data-bind="ojComponent: {
            component:'ojInputDate', 
            value: date,
            datePicker: {changeMonth: 'none', changeYear: 'none'}
        }"/>
<hr>
<p><b>Example 3</b>: ojInputDate with Converter options: {year: 'numeric', month: 'long', day: 'numeric'}</p>
    <input type="text" 
        title="Pick a date"
        data-bind="ojComponent:{
            component:'ojInputDate', 
            value: date, 
            datePicker: {changeMonth: 'none', changeYear: 'none'},
            converter: {
                type:'datetime', 
                options: {year: 'numeric', month: 'long', day: 'numeric'}}}"/>
<hr>