/Part-001/nbproject/private/
/Part-002/nbproject/private/
/Part-002/public_html/bower_components/
/Part-003/nbproject/private/
/Part-003/public_html/bower_components/
/Part-004/nbproject/private/
/Part-004/public_html/bower_components/
/Part-005/nbproject/private/
/Part-005/public_html/bower_components/
/Part-006/nbproject/private/