/* This is to prevent the flash of unstyled content before the composite properties have been setup. */
demo-memory-game:not(.oj-complete) {
  visibility: hidden;
}

demo-memory-game {
  display: block;
  max-width: 480px;
  width: 100%;
  height: 100%;
}

demo-memory-game demo-memory-card .front-side {
  background-image: url('images/card-background_2.png');
}