<button data-bind="
        click: function(){setLang('Arabic')}, 
        ojComponent: {component: 'ojButton', label: 'Arabic'}"></button>
<button data-bind="
        click: function(){setLang('Czech')}, 
        ojComponent: {component: 'ojButton', label: 'Czech'}"></button>
<button data-bind="
        click: function(){setLang('French')},
        ojComponent: {component: 'ojButton', label: 'French'}"></button>
<button data-bind="
        click: function(){setLang('English')}, 
        ojComponent: {component: 'ojButton', label: 'English'}"></button>
<br/>
<br/>
<span style="font-size: 50pt" id="greeting" data-bind="text: localeGreeting"></span>
<br/>
<span data-bind="text: localeDate"></span>
<input id="dateInput" type="text" 
    data-bind="ojComponent: {
        component:'ojInputDate', 
        value: date,
        datePicker: {changeMonth: 'none', changeYear: 'none'}
    }"/>