<h1>Home Content Area</h1>

<div  id="picto-container">
    <div id='pc1' data-bind="ojComponent:{
      component: 'ojPictoChart',
      items: pictoChartItems,
      animationOnDisplay: 'auto',
      columnCount: 5
    }"
    style="vertical-align:middle; margin-right:15px">
    </div>
    <div style="display:inline-block; vertical-align:middle; font-weight:bold">
        <span style="color:#333333; font-size:1.1em">7 out of 10 college students</span><br>
        <span style="color:#ed6647; font-size:1.3em">have sleep problems.</span>
    </div>
</div>