<h1>People Content Area</h1>

<div id="gauge10" 
     data-bind="ojComponent: {
         component: 'ojStatusMeterGauge', 
             min: 0, 
             max: 100, 
             value: value10, 
             orientation: 'circular',
             plotArea: {rendered: 'on'},
             metricLabel: {rendered: 'on'},
             title: {text: 'Sales'},
             readOnly: false
             }" style="align:center;margin-top:5px;margin-bottom:5px;height:100px;width:45%;">
</div>

Current value: <input data-bind="value: value10"></input>
