<h1>Performance Content Area</h1>

<div data-bind="ojComponent:{
    component: 'ojTimeline',
            majorAxis: {scale: 'quarters'},
            minorAxis: {scale: 'weeks'},
            start: new Date('Jan 1, 2010').toISOString(),
            end: new Date('Dec 31, 2010').toISOString(),
            optionChange: optionChangeListener,
            selectionMode: 'single',
            series: [{ 
                id: 's1',
                emptyText: 'No Data.',
                items: series,
                label: 'Oracle Events'
            }],
}" style="width: '100%'; height: 250px"></div>
<hr>
<h2>Selected: <span data-bind="text: selected"></span></h2>
